[submodule "data/xalapa_bus_data"]
	path = data/xalapa_bus_data
	url = https://github.com/XalapaCode/xalapa_bus_data.git
[submodule "data/onta-mining"]
	path = data/onta-mining
	url = https://gitlab.com/onta/onta-mining.git
