[submodule "data/xalapa_bus_data"]
	path = data/xalapa_bus_data
	url = git@github.com:XalapaCode/xalapa_bus_data.git
[submodule "data/onta-mining"]
	path = data/onta-mining
	url = git@gitlab.com:onta/onta-mining.git
